@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: norse-bold;
  src: url("assets/Norsebold.otf");
}

@font-face {
  font-family: norse;
  src: url("assets/Norse.otf");
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  font-weight: 700;
}

.main {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.left {
  background-image: url("./assets/bg.jpg");
  width: 35vw;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: norse-bold, Arial;
}

.right {
  display: flex;
  flex-direction: column;
  background-color: gainsboro;
}

.first {
  height: 25vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 5%;
  margin-bottom: 1%;
  margin-right: 30%;
  margin-top: 5%;
}

.second {
  height: 33vh;
  background-color: white;
  box-shadow: 2px 5px #E5E7EB;
  align-items: center;


}
.heading {
  margin-left: 50px;
  padding-top: 10px;
}
.form-main-div {
  display: flex;
  flex-direction: row;
  font-family: "Poppins", serif;
  font-weight: 400;
  justify-content: space-between;
  width: 60%;
  margin-left: 50px;
}

.form-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

input {
  width: 200px;
  border: 1px solid #e5e7eb;
  height: 25px;
  border-radius: 5px;
}
input:focus {
  border: 1px solid blue;
}

input:invalid {
  border: 1px solid red;
}

label {
  font-size: 12px;
  color: #3b3b3c;
}

#error{
    color: red;
    font-size: 10px;
    margin: 1px;
}

.btn-green{
    background-color: #596D48;
    color: white;
    border: 1px solid #596D48;
    border-radius: 10px;
    height: 40px;
    width: 155px;
    font-weight: 700;
    font-size:small;
    box-shadow: 2px 5px #E5E7EB;
}

.third {
    margin-left: 50px;
    margin-top: 25px;
}

.hyperlink{
    margin-left: 50px;
    margin-top: 25px;
    font-weight: 400;
}

.login{
    color: #596D48;
    text-decoration: none;
    font-weight: bold;
}

.a-footer{
    color: white;
}

.p-footer{
    font-size: 12px;
}

.forImage{
    height: 34vh;
    display: flex;
    align-items: flex-end;
}

.forFooter{
    height: 60vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    color: white;
}

.semi-transparent{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
}

h1{
    font-size: 50px;
    font-family: Norse-Bold;
    color: white;
}